{% extends "base.html" %}
{% block head %}   

{% endblock %}
{% block body %}
<style>
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
}
</style>

<body>
  <div class="container">
    <a href="{{url_for('update_budget')}}" class="btn btn-outline-primary" > Update Budget </a>  
    <div style="padding-top: 20px;"/>
    <a href="{{url_for('sell_product')}}" class="btn btn-outline-primary" > Sell Product </a>
    <div style="padding-top: 20px;"/>
    <a href="{{url_for('buy_product')}}" class="btn btn-outline-primary" > Buy Product </a>
  </div>
</body>
{% endblock %}
