{% extends "datatable.html" %}
{% block inside_body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Teknoland</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/main">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            {% if user_id == 99999 %}
                <a href="{{url_for('sell_product')}}" class="nav-item nav-link" > Sell Product </a>
            {% endif %}
            {% if user_id != -1 %}
                <a href="{{url_for('show_cart')}}" class="nav-item nav-link" > Cart </a>
                <a href="{{url_for('buy_product')}}" class="nav-item nav-link" > Buy Product </a>
                <a href="{{url_for('update_budget')}}" class="nav-item nav-link" > Update Budget </a>
                <a href="{{url_for('update_user')}}" class="nav-item nav-link" > User Settings </a>
            {% else %}
                <a class="nav-item nav-link" href="/">Login</a>
            {% endif %}

        </div>
</nav>

{% endblock inside_body %}

   <nav class="navbar navbar-light bg-light">
    <a href="{{url_for('show_cart')}}" class="btn btn-outline-primary" > Cart </a>
    <form class="form-inline" style="margin-left:auto">
        <a href="{{url_for('update_user')}}" class="btn btn-info" > User Settings </a>
        <a href="{{url_for('update_budget')}}" class="btn btn-outline-success" style="margin-left:5px" > Update Budget </a>
    </form>
  </nav>

    {% block data %}

        <thead>
            <th>Name</th>
            <th>Price(TL)</th>
        </thead>
{#    <thead>#}
{#      <tr>#}
{#        <th scope="col">Name</th>#}
{#        <th scope="col">Short Name</th>#}
{#        <th scope="col">Category</th>#}
{#          <th scope="col">Price(TL) without sale</th>#}
{#        <th scope="col">Sale %</th>#}
{#        <th scope="col">Price(TL)</th>#}
{#      </tr>#}
{#    </thead>#}
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{product.product_name}}</td>
                <td>{{product.price }}</td>
                <td>
                  <a href="{{url_for( 'return_a_product' , satis_id=product.satis_id) }}" class="btn btn-outline-primary" > Return Product</a>
                </td>
            </tr>
        {%endfor%}
    </tbody>
   {% endblock data %}


{% block script %}
<script>
   $(document).ready(function () {
        var table = $('#datalist').DataTable({
            "scrollY": "350px",
            "paging": false,
            "lengthChange": false
        });

        $('#datalist tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>
{% endblock script %}